body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container, .button, .hero-title {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  color: #2196f3;
  text-decoration: none;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.button {
  display: block;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.not-current {
  padding-bottom: 32px;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.list-nav {
  display: flex;
}

.list-nav .current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  margin-top: 28px;
  background-color: #2196f3;
  border-radius: 2px;
}

.list-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
  margin-left: auto;
}

.address-list .item:not(:first-child) {
  margin-left: 50px;
}

.address-list .link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover, .address-list .link:focus {
  color: #2196f3;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.about {
  padding-bottom: 47px;
}

.about-idea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #757575;
}

.about-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: #212121;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list .item {
  max-width: 270px;
}

.about-list .item:not(:last-child) {
  margin-right: 30px;
}

.about-item::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
}

.about-item:nth-child(1)::before {
  background-image: url(../images/feature1.svg);
  background-position: center center;
}

.about-item:nth-child(2)::before {
  background-image: url(../images/feature2.svg);
  background-position: center center;
}

.about-item:nth-child(3)::before {
  background-image: url(../images/feature3.svg);
  background-position: center center;
}

.about-item:nth-child(4)::before {
  background-image: url(../images/feature4.svg);
  background-position: center center;
}

.works {
  padding-top: 47px;
}

.works-list {
  display: flex;
  justify-content: center;
}

.works-list .item {
  position: relative;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-wrapper {
  position: absolute;
  pointer-events: none;
  padding: 27px 80px;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  padding: 30px 32px;
  background-color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}

.team-position {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #757575;
}

.social-list {
  display: flex;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover, .link-clients:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-svg {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: rgba(255, 255, 255, 0.6);
}

.footer .link.map {
  color: var(--the-third-text-color);
}
/*# sourceMappingURL=main.css.map */