.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-footer {
  color: var(--the-third-text-color);
}

.logo-header {
  color: #000000;
}
